

.card-time-date-btn {
  padding: 6px 3px;
  border: 2px solid #46abf1;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  color: #374151;
  text-transform: capitalize;
  font-size: 14px;
}

.card-time-date-btn:hover {
  border-color: #edb737;
  background-color: white;
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(249, 115, 22, 0.2);
}

.card-time-date-btn.selected {
  border-color: #edb737;
  background-color: #edb737;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(249, 115, 22, 0.3);
}

/* Разделитель */
.card-time-divider {
  height: 40px;
  background: linear-gradient(to right, transparent, #fed7aa, transparent);
  margin: 8px 0;
  color: black;
}

/* Список времени */
.card-time-times {
  animation: fadeInTime 0.3s ease-out;
}

@keyframes fadeInTime {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.clear_icon {
  color: #374151;
  position: absolute;
  right: 15px;
  top: -31px;
  width: 43px;
  height: 35px;
}
.card-time-times {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  gap: 6px;
}


.card-time-time-btn {
  padding: 4px 7px;
  border: 2px solid #c3c5c7;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  color: #374151;
  font-size: 18px;
}

.card-time-time-btn:hover {
  border-color: #14b8a6;
  background-color: #f0fdfa;
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(20, 184, 166, 0.2);
}

.card-time-time-btn.selected {
  border-color: #14b8a6;
  background-color: #14b8a6;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(20, 184, 166, 0.3);
}