.print_vac {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 27px;
  height: 27px;
  color: rgb(58 177 30);
}
@media (max-width: 420px) {
  .print_vac {
    right: 10px;
  }
}
