@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.card-time {
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 10px;
  animation: slideDown 0.3s ease-out;
  font-family: "Inter";
  width: 100%;
  position: relative;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
    max-height: 1000px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.card-time-header {
  margin-bottom: 16px;
}

.card-time-header h4 {
  margin: 0;
  color: #f97316;
  font-size: 15px;
  font-weight: 600;
}

.card-time-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Список дат */
.card-time-dates {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 8px;
}

.card-time-date-btn {
  padding: 6px 3px;
  border: 2px solid #fed7aa;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  color: #374151;
  text-transform: capitalize;
  font-size: 14px;
}

.card-time-date-btn:hover {
  border-color: #f97316;
  background-color: white;
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(249, 115, 22, 0.2);
}

.card-time-date-btn.selected {
  border-color: #f97316;
  background-color: #f97316;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(249, 115, 22, 0.3);
}

/* Разделитель */
.card-time-divider {
  height: 40px;
  background: linear-gradient(to right, transparent, #fed7aa, transparent);
  margin: 8px 0;
  color: black;
}

/* Список времени */
.card-time-times {
  animation: fadeInTime 0.3s ease-out;
}

@keyframes fadeInTime {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.clear_icon {
  color: #374151;
  position: absolute;
  right: 15px;
  top: -31px;
  width: 43px;
  height: 35px;
}
.card-time-times {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  gap: 6px;
}
.card-time-times-grid {
  display: flex;
  gap: 0 20px;
}

.card-time-time-btn {
  padding: 4px 7px;
  border: 2px solid #b2f5ea;
  border-radius: 6px;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  color: #374151;
  font-size: 18px;
}

.card-time-time-btn:hover {
  border-color: #14b8a6;
  background-color: #f0fdfa;
  transform: translateY(-1px);
  box-shadow: 0 1px 4px rgba(20, 184, 166, 0.2);
}

.card-time-time-btn.selected {
  border-color: #14b8a6;
  background-color: #14b8a6;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 2px 6px rgba(20, 184, 166, 0.3);
}
