.header__content {
  width: 100%;
  height: 142px;
  padding-top: 30px;
  background-color: #f7f7f7; // основной цвет
  background-image: linear-gradient(
    to bottom,
    rgba(6, 79, 243, 0.2),
    rgba(34, 180, 211, 0)
  );
  background-repeat: no-repeat; // чтобы градиент не повторялся
  font-family: "Inter";
}
.btn {
  padding: 0.75rem 2rem;
  background-color: #2197ed;
  color: white;
  width: 220px;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 320px; // ширина сайдбара, должна совпадать с шириной самого Sidebar
  z-index: 40;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out; // регулируйте скорость здесь

  &.open {
    transform: translateX(0);
  }

  // На десктопе панель всегда видна и переключается на relative
}
.header__layuot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 56px;
}
.button__menu {
  /* fixed */
  top: 1.5rem; /* top-6 (6 * 0.25rem = 1.5rem) */
  left: 1.5rem; /* left-6 */
  z-index: 50; /* z-50 */

  background-color: #2197ed; /* bg-blue-500 */
  color: white; /* text-white */

  padding: 0.75rem; /* p-3 (3 * 0.25rem = 0.75rem) */
  border-radius: 9999px; /* rounded-full */

  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1); /* shadow-lg */

  transition-property: background-color;
  transition-duration: 150ms; /* transition-colors */

  cursor: pointer;
  border: none;
  outline: none;
}

.button__menu:hover {
  background-color: #f5bf03; /* hover:bg-blue-600 */
}
.header-btn-login {
  padding: 0.5rem 1.5rem;
  color: #374151;
  font-size: 19px;
  cursor: pointer;
  transition: color 0.3s;
}
.auth_logo {
  width: 140px;
  height: 110px;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
.header-btn-login:hover {
  color: #111827;
}
.header-btn-appointment {
  padding: 0.75rem 2rem;
  background-color: #2197ed;
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.header-btn-appointment:hover {
  background-color: #f5bf03;
}

.header-btn-register {
  padding: 0.5rem 1.5rem;
  background-color: #14b8a6;
  font-size: 19px;
  color: white;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.header-btn-register:hover {
  background-color: #0d9488;
}
.header__left {
  width: 56px; /* та же ширина, что и у кнопки */
}

.header__center {
  display: flex;
  justify-content: center; /* центрируем содержимое */
  padding-left: 80px;
  .first {
    font-size: 10px;

    color: #2197ed;
    text-align: center;
  }
  .second {
    text-align: center;
    font-size: 28px;
  }
  .third {
    font-size: 10px;
    text-align: center;
  }
}

.header__right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem; /* gap-4 */
  cursor: pointer;
}
@media (max-width: 500px) {
  .header__content {
  }
  .header__center {
    display: none;
    justify-content: center; /* центрируем содержимое */
    padding-left: 80px;
    .first {
      font-size: 10px;

      color: #2197ed;
      text-align: center;
    }
    .second {
      text-align: center;
      font-size: 28px;
    }
    .third {
      font-size: 10px;
      text-align: center;
    }
  }
  .header__right {
  }
}
@media (max-width: 1025px) {
  .header__content {
    height: 148px;
    padding-top: 42px;
  }
  .header__right {
    width: 152px;
  }
}
@media (max-width: 870px) {
  .header__content {
    height: 148px;
    padding-top: 42px;
  }
  .header__right {
    width: 152px;
  }
  .header__center img {
    display: none;
  }
  .header__center .second {
    font-size: 23px;
  }
  .button__menu {
    width: 56px;
    height: 55px;
  }
}
