// _nav-item.scss
.nav-item {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 12px; // gap-3 (3 * 4px = 12px)
  text-align: left;
  padding: 12px 16px; // py-3 px-4
  border-radius: 8px; // rounded-lg
  font-size: 18px;
  font-weight: 500;
  transition:
    background-color 0.2s,
    color 0.2s;
  cursor: pointer;
  text-decoration: none;

  &--active {
    background: #edb737;

    color: white;
  }

  &--inactive {
    color: #ffffff; // gray-700

    &:hover {
      background: #edb737;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
.close_panel {
  width: 45px;
  height: 46px;
  position: absolute;
  top: 27px;
  right: 35px;
  color: #1572b5;
  cursor: pointer;
}
