.visit-item {
  background-color: #f9fafb;
  border-radius: 0.5rem;

  font-size: 16px;
}

.visit-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.visit-item-title {
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.25rem;
}
.visit__card {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
  justify-content: space-between;
}
.visit-item-doctor {
  color: #6b7280;
  margin-bottom: 0.25rem;
}

.visit_time {
  color: #101011;
}

.visit-status-badge {
  padding: 10px 15px;
  border-radius: 9px;
  font-size: 0.75rem;
  font-weight: 600;
  white-space: nowrap;
}
.cancel-button {
  padding: 10px 15px;
  color: white;
  border-radius: 9px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  background-color: #edb737;
  cursor: pointer;
}
.visit-status-badge.green {
  background-color: #d1fae5;
  color: #46abf1;
  font-size: 15px;
  color: white;
}

.visit-status-badge.blue {
  background-color: #dbeafe;
  color: #1e40af;
}

.visit-status-badge.yellow {
  background-color: #fef3c7;
  color: #92400e;
}
